body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.homepage{
    margin-right:1050px;
}

.flip-card {
    background-color: transparent;
    width: 500px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.viewAnswer:active .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    background-color: #f4c9c9d6;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
    background-color: #6e1e89;
    color: white;
}

.buttons {
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    
}
.saveArrow{
    background-color: rgb(211, 214, 214);
    margin-top: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
h1 {
    text-align: center;
}

.FirstInput,
.secondInput,
.thirdInput,
.fourthInput,
.fifthInput,
.sixthInput,
.seventhInput,
.eighthInput,
.ninethInput,
.tenthInput {
    width: 200px;
    align-self: center;
}

.instruction {
    background-color: rgb(5, 9, 9);
    color: #f1f1f1;
    width: 500px;
    height: 30px;
    text-align: center;
}

.previousArrow,
.nextArrow, .saveArrow {
    background-color: rgb(211, 214, 214);
    padding: 8px 16px;
    border-radius: 20px;
    margin-right: 25px;
}


a {
    text-decoration: none;
}
.inputAnswer{
    display:flex;
}
.submitAnswer{
    width:15%;
   
   
}
.input{
    margin-left:100px;
}

.flashcard {
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    position: relative;
    text-align: center;
}


.card {
    width: 100%;
    height: 100%;
}

.card-front,
.card-back {
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    backface-visibility: hidden;
}

.card-front {
    transform: rotateY(0deg);
    background-color: aquamarine;
}

.card-back {
    transform: rotateY(180deg);
    background-color: #6e1e89;
}

.flipped .card-inner {
    transform: rotateY(180deg);
}
